*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
.nav{
    background-color: #9b195c;
    color: white;
}
h1{
    font-style: italic;
    margin-right: 50%;
}
.items{
    display: flex;
    padding: 10px;
}
.items li {
    position: relative;
    margin-left: 10px;
    margin-top: 8px;
}

.items a {
    text-decoration: none;
    color: white;
    padding: 10px;
}
.dropdown-con {
    display: none;
    position: absolute;
    background-color: #1d0c8e;
    min-width: 150px;
    z-index: 1;
}
.dropdown-con li{
    padding: 5px;
}
.dropdown:hover .dropdown-con {
    display: block;
    background-color: rgb(226, 15, 170);
    margin-top: 10px;
}
.dropdown-con li:hover{
    background-color: #cbdb16;
}

@media (max-width: 768px) {
    .items {
        flex-direction: column;
    }

    .items li {
        margin-bottom: 5px;
    }

    .dropdown-con {
        position: static;
        display: none;
        background-color: #333;
    }

    .dropdown:hover .dropdown-con {
        display: block;
    }
}

/* alert box */
.alert-box{
	width:400px;
	height:120px;
	box-shadow:inset 0px 0px 1px 1px rgba(0, 0,0, .2);
	background-color: white;
	z-index: 1000;
	font-size: 16px;
	position: fixed;
	padding:10px;
	border-radius: 5px;
	color: rgba(0, 0, 0,.6);
	margin-top: -70px;
	margin-left:100px;
}
.alert-box p{
	margin-bottom: 10px;
	font-size: 17px;
}
.alert-box button{
	float: right;
	margin-top:45px;
	background-color:green;
	border: 2px double rgba(0, 0, 0, .5);
	color: white;
	cursor: pointer;
	width: 50px;
	padding:7px 10px;
	outline: none;
	border-radius:15px;
	border: none;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0,.1);
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}